<!DOCTYPE html>
<html>

<head>
  <title>Find and Replace!</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <h1> Find me!</h1>
  <form action='/output'>
    <p>What is your sentence?</p>
    <input id="origin_sentence" name="user_sentence" type="text"><br>
    <p>What is your nasty nasty word</p>
    <input id="wrong_word" name="wrong_word" type="text"><br>
    <p>How about a better word?</p>
    <input id="new_word" name="new_word" type="text"><br>
    <button type="submit" class="btn">See Your New Sentence!</button>
  </form>
</body>

</html>
