<!DOCTYPE html>
<html>
<head>
  <title>Pretty sentence</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
</head>

<body>
  <div class="jumbotron">
  <p><%= @pretty_sent %></p>
</div>
</body>
</html>
